@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-card {
  @apply w-[30%] flex flex-col m-1 p-4 items-center justify-center border-2 border-black rounded-2xl shadow-md;
}
.skill-image-wrapper {
  @apply w-1/2 mb-2;
}
.skill-image {
  @apply h-full w-auto object-cover;
}


.custom-shadow::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}